/* RESET BODY */@at-root
body {
    margin: 0;
}

/* CONTAINER */
.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1em;
}

/* SIDE-CONTAINER */
.side-container {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 1em;
    display: flex;
}

/* MEDIA QUERIES */

/* RESPONSIVE TYPOGRAPHY */
//SMALL
body { font-size: 87.5%; }

@media (min-width: $breakpoint-small) {
    body { font-size: 100%; }
}

@media (min-width: $breakpoint-large) {
    body { font-size: 112.5%; }
}

.two-col-with-aside {
    display: flex;
}
